.container{
    padding-top: 64px;
}

option[value=""][disabled] {
    display:none
}

.sc-visual{
    position: relative;
    width: 100%;
}

.sc-visual .main-slide{}
.sc-visual .main-slide .swiper-slide{
    position: relative;
}
.sc-visual .main-slide .video-box{
    position: relative;
    padding-bottom: calc(544/1229*100%);
}
.sc-visual .main-slide video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-visual .main-slide .text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.sc-visual .main-slide .text{
    font-size: 100px;
    line-height: 1.2;
    letter-spacing: -2.4px;
    font-weight: 800;
    color: #fff;
    padding: 20px;
    text-shadow: 6px 6px 18px rgb(0 0 0 / 16%);
    white-space: nowrap;
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.5s 0.8s,width 0.5s 0.8s;
}
.sc-visual .main-slide .text br{
    display: none;
}
.sc-visual .main-slide .swiper-slide-active .text{
    opacity: 1;
    width: 100%;

}

.sc-search{
    position: absolute;
    z-index: 10;
    height: 54px;
    line-height: 54px;
    width: 100%;
    transform: translateY(-50%);
}

.sc-search form{
    width: 100%;
}
.sc-search .form-box{
    display: flex;
    align-items: center;
    background: #fff;
}
.sc-search .ic-search{
    background-position: -245px -40px;
    width: 18px;
    height: 18px;
    margin: 0 28px 0 21px;
}

.sc-search .search-box{
    display: flex;
    flex: 1;
    align-items: center;
    white-space: nowrap;
    font-weight: bold;
    position: relative;
}
.sc-search .search-box .text{}
.sc-search .search-box .input-text{
    flex: 1;
    outline: 0;
    padding: 0 25px 0 9px;
}
.sc-search .search-box .input-text::placeholder{
    color: #d0d0d0;
}
.sc-search .search-box .select-search{
    outline-style: none;
    text-align: left;
    letter-spacing: -0.3px;
    border: 0;
    display: block;
    flex: 1;
    padding: 0 25px 0 9px;
    color: #d0d0d0;
}
.sc-search .search-box .select-search.on{
    color: #000;
}
.sc-search .search-box+.search-box.on::after{
    transform: rotate(180deg);
}
.sc-search .search-box+.search-box::after{
    background: url(../img/search-ar.png) no-repeat center / cover;
    position: absolute;
    right: 10px;
    background-size: 8px;
    width: 8px;
    height: 8px;
    content: '';
}
.sc-search .search-box .select-search option{
    font-weight: normal;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #000;
}
.sc-search .search-box .select-search option:disabled{
    color: #d0d0d0;
}
.sc-search .btn-search{
    width: 97px;
    height: 54px;
    line-height: 54px;
    background: #000;
    color: #fff;
    font-weight: bold;
    text-align: center;
}


.sc-teams{
    padding-top: 126px;
}

.group-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.group-title .headline{
    font-size: 64px;
    line-height: 71px;
    letter-spacing: -0.64px;
    font-weight: bold;
}
.group-title .text-box{
    display: flex;
    gap: 30px;
}
.group-title .text-box .text{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.44px;
    font-weight: bold;
}
.group-title .text-box .link{
    vertical-align: top;
    line-height: 18px;
    letter-spacing: -0.36px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.sc-teams{
    background: #fafafa;
}

.sc-teams .team-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 0 89px 0;
}
.sc-teams .team-list .team-item .team{
    display: block;
    width: 100%;    
    padding: 20px 0;

}
.sc-teams .team-list .team-item .team .inner1{
    display: flex;
    align-items: center;
}
.sc-teams .team-list .team-item:hover{
    background-color: #ebebeb;

}
.sc-teams .team-list .team-item .title{
    position: relative;
    flex: 1;
    font-size: 38px;
    line-height: 60px;
    letter-spacing: -0.34px;
}
.sc-teams .team-list .team-item .title::after{
    position: absolute;
    margin-left: 30px;
    margin-top: 13px;
    width: 9px;
    height: 9px;
    background-position: -176px -105px;
    content: '';
}
.sc-teams .team-list .team-item .title .number{
    position: absolute;
    top: -7px;
    margin-left: 18px;
    font-size: 15px;
    letter-spacing: -0.3px;
}
.sc-teams .team-list .team-item .desc{
    flex: 1;
    font-size: 22px;
    line-height: 60px;
    letter-spacing: -0.44px;
}

.inner1 .swiper{
    margin: 60px 0;
    padding-bottom: 68px;
    position: relative;
    
}
.inner1 .swiper-btn{
    position: absolute;
    display: flex;
    gap: 5px;
    right: 15px;
    bottom: 0;
}
.inner1 .swiper-btn .btn{
    height: 32px;
    width: 33px;
    
}
.inner1 .swiper-btn .btn.prev{
    background-position: -187px -172px;
}
.inner1 .swiper-btn .btn.next{
    background-position: -113px -172px;
}

.inner1 .swiper-btn .btn.swiper-button-disabled{
    opacity: 0.5;
}

.sc-people{
    padding-top: 95px;
    position: relative;
    overflow: hidden;
}
.sc-people .people-slide{
    overflow: initial;
}
.sc-people .swiper-slide{
    width: 90%;
    height: 100%;
}
.sc-people .swiper-slide a{
    display: flex;
    flex-direction: column;
}
.sc-people .swiper-slide .img-box{
    position: relative;
    padding-bottom: calc(520/1097*100%); 
}
.sc-people .swiper-slide img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sc-people .swiper-slide .text-box{
    display: flex;
    gap: 26px;
    margin: 29px 0 19px 0;
}
.sc-people .swiper-slide .text-box .text{
    line-height: 36px;
    font-size: 25px;
    letter-spacing: -0.5px;
    font-weight: bold;
}
.sc-people .swiper-slide .text-box .link{
    line-height: 18px;
    letter-spacing: -0.36px;
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-top: 4px;
}
.sc-people .swiper-slide .source-box{
    display: flex;
    gap: 13px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.28px;
    font-family: var(--font-kr);
}
.sc-people .swiper-slide .source-box .corp{}
.sc-people .swiper-slide .source-box span{
    position: relative;
}
.sc-people .swiper-slide .source-box span+span::before{
    position: absolute;
    left: -6px;
    top: 7px;
    width: 1px;
    height: 11px;
    background-color: #000;
    content: "";
}

.sc-benefits{}

.sc-benefits .benefits-slide{
    width: 100%;
}
.sc-benefits .benefits-slide .swiper-slide{
    width: 100%;
}
.sc-benefits .benefits-slide .swiper-slide a{
    display: flex;
    flex-direction: column;
}
.sc-benefits .benefits-slide .swiper-slide .img-box{
    position: relative;
    padding-bottom: calc(380/380*100%);
}
.sc-benefits .benefits-slide .swiper-slide img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.sc-benefits .benefits-slide .swiper-slide .title{
    margin: 29px 0 20px 0;
    line-height: 36px;
    font-size: 25px;
    letter-spacing: -0.5px;
}
.sc-benefits .benefits-slide .swiper-slide .desc{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.36px;
}


.sc-apply{
    padding: 95px 0 102px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.sc-apply .title{
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.25px;
}
.sc-apply .desc{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.36px;
}
.sc-apply .desc::after{
    position: absolute;
    background-position: -76px -172px;
    width: 33px;
    height: 32px;
    margin-left: 11px;
    content: '';
}


.sc-search .group-search{
    display: none;
}

/* 노트북 & 작은 PC ( [1025px] ~ 1280px )*/ 
@media all and (max-width:1280px) {
    .sc-visual .main-slide .video-box{
        padding-bottom: calc(544/1229*100%);
    }
    .container{
        padding-top: 60px;
    }
    .sc-benefits .benefits-slide .swiper-slide .desc br{
        display: none;
    }
    .sc-visual .main-slide .text{
        font-size: 80px;
    }

} 
  
  /* 태블릿 ( [768px] ~ 1024px )*/ 
@media all and (max-width:1024px) {
    .sc-visual .main-slide .video-box{
        padding-bottom: calc(480/768*100%);
    }
    .sc-visual .main-slide .text{
        font-size: 60px;
    }
    .sc-search{
        position: initial;
        transform: translateY(0);
        height: auto;
        background: #fafafa;
        padding-top: 50px;
    }

    .sc-search .form-box{
        flex-direction: column;
        align-items: stretch;
    }
    .sc-search .ic-search{
        display: none;
    }
    .sc-search .search-box .text{
        padding-left: 15px;
    }
    .sc-search .btn-search{
        width: 100%;
    }

    .sc-teams{
        padding-top: 50px;
    }
    .group-title .headline{
        font-size: 36px;
        line-height: 50px;
        letter-spacing: -0.7px;
        font-weight: 500;
    }
    .sc-teams .team-list{
        padding: 9px 0 50px 0;
    }
    .sc-teams .team-list .team-item .team{
        padding: 16px 0;
    }
    .group-title{
        gap: 11px;
    }
    .group-title .text-box{
        gap: 20px;
    }
    .group-title .text-box .text{
        margin-bottom: 9px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.32px;
    }
    .group-title .text-box .link{
        font-size: 12px;
        line-height: 22px;
        letter-spacing: -0.24px;
    }
    .sc-teams .team-list .team-item .team .inner1{
        flex-direction: column;
        align-items: start;
    }
    .sc-teams .team-list .team-item .title{
        font-size: 24px;
        line-height: 38px;
        letter-spacing: -0.48px;
    }
    .sc-teams .team-list .team-item .title .number{
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.28px;
        margin: 12px 0 0 14px;
    }
    .sc-teams .team-list .team-item .title::after{
        margin: 5px 0 0 25px;
        background-position: -129px -28px;
        width: 11px;
        height: 11px;
    }
    .sc-teams .team-list .team-item .desc{
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.32px;
    }
    .sc-people{
        padding: 68px 0 56px;
    }
    .inner1 .swiper{
        margin: 0;
    }
    
} 
  
  /* 모바일 ( [320px] ~ 767px )*/ 
  @media all and (max-width:767px) {
    .sc-visual .main-slide .video-box{
        padding-bottom: calc(200/320*100%);
    }
    .sc-visual .main-slide .swiper-slide .text{
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .sc-visual .main-slide .swiper-slide .text br{
        display: block;
    }
    .group-title .text-box{
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        width: 100%;
        padding-bottom: 20px;
    }
    .group-title .text-box .text{
        width: 100%;
        margin-bottom: 0;
    }
    .group-title .text-box .link{    }
    .sc-people .people-slide{
        overflow: hidden;
    }
    .sc-people .swiper-slide{
        width: 100%;
    }
    .sc-people .swiper-slide .img-box{
        padding-bottom: 100%;
    }
    .sc-benefits .benefits-slide .swiper-slide .img-box{
        padding-bottom: 100%;
    }
    .sc-search .form-wrap{
        display: none;
    }
    .sc-search{
        padding-top: 22px;
    }
    .sc-search .group-search{
        display: block;
        width: 100%;
        background-color: #ebebeb;
    }
    .sc-search .group-search .btn-jobs{
        position: relative;
        padding: 10px 45px 10px 10px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.28px;
        color: #696868;
        width: 100%;
        text-align: left;
    }
    .sc-search .group-search .btn-jobs::after{
        position: absolute;
        background-position: -140px -125px;
        width: 19px;
        height: 19px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
    }
    .sc-people .swiper-slide .text-box .link{
        display: none;
    }
    .sc-search .group-search .search-area{
        /* display: none; */
        position: fixed;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
        overflow-y: auto;
        z-index: 100;
    }
}

